<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
 * 테이블명 : DR_COST_LIST_LOG
 * 테이블 설명 : 요금세부내역 로그
-->
<mapper namespace="com.yido.clubd.repository.DrCostListLogMapper">

	<select id="selectList" resultType="DrCostListLog">
       
    </select>
    
</mapper>