<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
 * 테이블명 : DR_VOUCHER_CODE_LOG
 * 테이블 설명 : 이용권코드 로그
-->
<mapper namespace="com.yido.clubd.repository.DrVoucherCodeLogMapper">

	<select id="selectList" resultType="DrVoucherCodeLog">
       
    </select>
    
</mapper>