<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
 * 테이블명 : DR_VOUCHER_LIST
 * 테이블 설명 : 이용권세부내역
-->
<mapper namespace="com.yido.clubd.repository.DrVoucherListMapper">

	<select id="getListSeq" parameterType="hashmap" resultType="int">
		SELECT IFNULL(CAST(MAX(LIST_SEQ) AS UNSIGNED), 0)+1 
		  FROM DR_VOUCHER_LIST
	 	 WHERE SALE_SEQ = #{saleSeq}  
	</select>
	
	<select id="selectList" parameterType="hashmap" resultType="DrVoucherList">
		SELECT *
	      FROM DR_VOUCHER_LIST 
	     WHERE 1=1
		<if test='coDiv != null and coDiv != ""'>
		  AND CO_DIV = #{coDiv}
		</if> 	  
		<if test='saleDay != null and saleDay != ""'>
		  AND SALE_DAY = #{saleDay}
		</if> 	  
		<if test='saleSeq != null and saleSeq != ""'>
		  AND SALE_SEQ = #{saleSeq}
		</if> 
		<if test='listSeq != null and listSeq != ""'>
		  AND LIST_SEQ = #{listSeq}
		</if> 		  
		<if test='vcState != null and vcState != ""'>
		  AND VC_STATE = #{vcState}
		</if> 	  
		ORDER BY LIST_SEQ
		<if test='limit != null'>
  		 LIMIT #{limit}
		</if> 		      
    </select>
      
    <insert id="insertDrVoucherList">
    	INSERT INTO DR_VOUCHER_LIST (
			CO_DIV				
			, SALE_DAY			
			, SALE_SEQ			
			, LIST_SEQ
			, VC_ONE_AMOUNT
			, VC_ONE_NET
			, VC_ONE_VAT
			, VC_SERVICE_YN
			, VC_STATE	
			, INPUT_STAFF	
			, INPUT_DATETIME	
			, INPUT_IP	
    	) values (
    		#{coDiv}			
    		, #{saleDay}		
    		, #{saleSeq}			
    		, #{listSeq}
    		, #{vcOneAmount}
    		, #{vcOneNet}
    		, #{vcOneVat}
    		, #{vcServiceYn}
    		, #{vcState}
    		, 'APP'		
    		, now()
			, #{inputIp}					
    	)  	
    </insert>
    
    <!-- 상태변경 -->
	<update id="updateState">
		UPDATE DR_VOUCHER_LIST
		   SET VC_STATE 		= #{vcState}
			 , INPUT_STAFF 		= 'APP'
			 , INPUT_DATETIME 	= now()	
			 , INPUT_IP 		= #{inputIp}
		 WHERE LIST_SEQ 		= #{listSeq}
		   AND SALE_SEQ 		= #{saleSeq}
	</update>
	
	<update id="updateVoucherList">
		UPDATE DR_VOUCHER_LIST
		   SET BK_CO_DIV 		= #{bkCoDiv}
			 , BK_DAY 			= #{bkDay}
			 , BK_CONDI 		= #{bkCondi}
			 , BK_TIME 			= #{bkTime}
			 , BK_SEQ 			= #{bkSeq}
			 , VC_STATE 		= #{vcState}
			 , INPUT_STAFF 		= 'APP'
			 , INPUT_DATETIME 	= now()	
			 , INPUT_IP 		= #{inputIp}
		 WHERE CO_DIV 			= #{coDiv}
		   AND SALE_DAY 		= #{saleDay}
		   AND SALE_SEQ 		= #{saleSeq}
		   AND LIST_SEQ 		= #{listSeq}
	</update>
	
	<!-- 매출순번에 대한 모든 list 상태 변경 -->
	<update id="updateStateBySaleSeq">
		UPDATE DR_VOUCHER_LIST
		   SET VC_STATE = #{vcState}
		 WHERE SALE_SEQ = #{saleSeq}
	</update>    
	    
</mapper>