<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yido.clubd.repository.ProMapper">   	
   	<select id="selectProNoticeList" resultType="ProVO">
   		/* proMapper.selectProNoticeList 프로 특이사항 목록 조회 */
		SELECT
			  M.MS_NUM
		    , M.MS_NAME
			, MS_IMAGENAME
		    , NOTICE_DIV
		    , PRO_MUST_YN
		    , (CASE WHEN (PRO_REMARK LIKE '%https://%')
				THEN SUBSTRING_INDEX(PRO_REMARK, '/', -1)
				ELSE PRO_REMARK
		        END)
		      AS PRO_REMARK
		    , NOTICE_OPEN_YN
	    FROM PRO_NOTICE N
	    INNER JOIN DR_MS_MAININFO M ON N.MS_NUM = M.MS_NUM
	    WHERE 1 = 1
			AND M.MS_NUM = ${msNum}
	        AND IFNULL(NULLIF(M.MS_BLANK,''),'N') = 'N'  
	</select>
	   	<select id="selectProNoticeOpenList" resultType="ProVO">
   		/* proMapper.selectProNoticeOpenList 공개 처리된 프로 특이사항 목록 조회 */
		SELECT
			  M.MS_NUM
		    , M.MS_NAME
			, MS_IMAGENAME
		    , NOTICE_DIV
		    , PRO_MUST_YN
		    , (CASE WHEN (PRO_REMARK LIKE '%https://%')
				THEN SUBSTRING_INDEX(PRO_REMARK, '/', -1)
				ELSE PRO_REMARK
		        END)
		      AS PRO_REMARK
		    , NOTICE_OPEN_YN
	    FROM PRO_NOTICE N
	    INNER JOIN DR_MS_MAININFO M ON N.MS_NUM = M.MS_NUM
	    WHERE 1 = 1
	    	AND NULLIF(N.PRO_REMARK, '') IS NOT null
	    	AND NOTICE_OPEN_YN != 'N'
			AND M.MS_NUM = ${msNum}
	        AND IFNULL(NULLIF(M.MS_BLANK,''),'N') = 'N'
	</select>
	
	<select id="selectProNotice" resultType="ProVO">
		/* proMapper.selectProNotice 프로 특이사항 단일 조회 */
		SELECT
			  M.MS_NUM
		    , M.MS_NAME
			, MS_IMAGENAME
		    , NOTICE_DIV
		    , PRO_MUST_YN
		    , PRO_REMARK
		    , NOTICE_OPEN_YN
	    FROM PRO_NOTICE N
	    INNER JOIN DR_MS_MAININFO M ON N.MS_NUM = M.MS_NUM
	    WHERE 1 = 1
			AND M.MS_NUM = #{msNum}
			AND NOTICE_DIV = #{noticeDiv}
	        AND IFNULL(NULLIF(M.MS_BLANK,''),'N') = 'N'
	    LIMIT 1    
	</select>
	
	<select id="selectProImageList" resultType="ProVO">
		/* proMapper.selectProImageList 프로 갤러리 이미지/영상 목록 조회 */
		SELECT
			  MS_NUM
			, IMG_DIV
			, IMG_SEQ
			, IMG_PATH
			, IMG_FILENAME
			, IMG_DATA
	    FROM PRO_IMAGE	
	    WHERE 1 = 1
	    	AND IMG_PATH NOT LIKE '%profile%'
			AND MS_NUM = #{msNum}	    
	</select>
	
    <insert id="insertProNotice">
    	/* proMapper.insertProNotice 프로 특이사항 등록 */
    	INSERT INTO PRO_NOTICE (
			  MS_NUM				
			, NOTICE_DIV			
			, PRO_MUST_YN			
			, PRO_REMARK
			, NOTICE_OPEN_YN	
    	) values (
    		  #{msNum}			
    		, #{noticeDiv}		
    		, 'N'		
    		, #{proRemark}
    		, #{noticeOpenYn}		
    	)  	
    </insert>
    
   	<update id="updateProNotice">
   		/* proMapper.updateProNotice 프로 특이사항 수정 */
		UPDATE PRO_NOTICE
		   SET MS_NUM = #{msNum}
		   	 , PRO_MUST_YN 		= 'N'
		   	 <if test='proRemark != null and proRemark != ""'>
		     , PRO_REMARK 		= #{proRemark}
		     </if>
		     <if test='noticeOpenYn != null and noticeOpenYn != ""'>
		     , NOTICE_OPEN_YN 	= #{noticeOpenYn}
		     </if>
		 WHERE MS_NUM 			= #{msNum}
		   AND NOTICE_DIV 		= #{noticeDiv}
	</update>

	<select id="selectProLicenseList" resultType="ProVO">
		/* proMapper.selectProLicenseList 프로 자격증 목록 조회 */
		SELECT
			  M.MS_NUM
		    , M.MS_NAME
			, LIC_SEQ
		    , LIC_KIND
		    , LIC_REMARK
		    , CD_TITLE1 AS LIC_NAME
		    , LIC_OPEN_YN
	    FROM PRO_LICENSE L
	    INNER JOIN DR_MS_MAININFO M ON M.MS_NUM = L.MS_NUM
	    INNER JOIN CD_COMMON C ON C.CD_CODE = L.LIC_KIND AND C.CD_DIVISION = '018'
	    WHERE 1 = 1
			AND M.MS_NUM = #{msNum}
	        AND IFNULL(NULLIF(M.MS_BLANK,''),'N') = 'N'
	    ORDER BY CD_SORT
	</select>
	
	<select id="selectProLicense" resultType="ProVO">
		/* proMapper.selectProLicense 프로 자격증 단일 조회 */
		SELECT
			  LIC_SEQ
			, MS_NUM
		    , LIC_KIND
		    , LIC_REMARK
		    , LIC_OPEN_YN
	    FROM PRO_LICENSE 
	    WHERE 1 = 1
			AND MS_NUM = #{msNum}
			AND LIC_KIND = #{licKind}
	</select>
	
	<select id="deleteAllProLicense" resultType="ProVO">
		/* proMapper.deleteAllProLicense 프로 자격증 모두 삭제 */
		DELETE FROM PRO_LICENSE 
	    WHERE 1 = 1
			AND MS_NUM = #{msNum}
	</select>
	
	<insert id="insertProLicense">
	 		/* proMapper.insertProLicense 프로 자격증 등록 */
	 	<selectKey resultType="Integer" keyProperty="licSeq" order="BEFORE">
            SELECT IFNULL(MAX(LIC_SEQ), 0) + 1
				FROM PRO_LICENSE
            WHERE 1 = 1
				AND MS_NUM = #{msNum}
        </selectKey>
    	INSERT INTO PRO_LICENSE (
			  MS_NUM				
			, LIC_SEQ			
			, LIC_KIND			
			, LIC_REMARK
    	) values (
    		  #{msNum}			
    		, #{licSeq}	
    		, #{licKind}			
    		, #{licRemark}	
    	)  	
    </insert>
    
 	<update id="updateProLicense">
 		/* proMapper.updateProLicense 프로 자격증 수정 */
		UPDATE PRO_LICENSE
		   SET LIC_KIND 		= #{licKind}
		     , LIC_REMARK 		= #{licRemark}
		 WHERE MS_NUM 			= #{msNum}
		   AND LIC_SEQ 			= #{licSeq}
	</update>
		
	<insert id="insertProImage">
		/* proMapper.insertProImage 프로 갤러리 이미지/영상 등록 */
		<selectKey resultType="Integer" keyProperty="imgSeq" order="BEFORE">
	            SELECT IFNULL(MAX(IMG_SEQ), 0) + 1
					FROM PRO_IMAGE
	            WHERE 1 = 1
					AND MS_NUM = #{msNum}
	        </selectKey>
	    	INSERT INTO PRO_IMAGE (
				  MS_NUM				
				, IMG_DIV			
				, IMG_SEQ			
				, IMG_PATH
				, IMG_FILENAME
	    	) values (
	    		  #{msNum}			
	    		, #{imgDiv}	
	    		, #{imgSeq}	
	    		, #{imgPath}			
	    		, #{imgFilename}
	    	)  	
	</insert>
	<delete id="deleteProImage">
		/* memberMapper.deleteProImage - 프로 갤러리 이미지/영상 삭제 */
		DELETE FROM PRO_IMAGE
		WHERE 1 = 1
			AND IMG_SEQ = #{imgSeq} 
			AND MS_NUM = #{msNum}
	</delete>
		
</mapper>